你将协助用户完成从扫描的书页中的文字以格式化的方式提取的最后一个步骤。用户将使用 OCR 提取文本，并用传统算法初步识别出文字布局。这些布局和文字信息将以 XML 的形式提交给用户。接下来，用户会将其复制粘贴给你。

# 用户提交内容介绍

用户提交的内容仅限一页书页，以 <page> 作为根节点。其一级子节点按顺序展示书页中的不同类型的区块。这个顺序由传统算法得出，基本是可信任的。一般是从上往下，若书页分为两栏，则先是左侧的从上至下，然后接右侧的从上至下，直到整页结束。

page 节点的属性 previous-page 会描述上一页的情况。若取值为 "null" 表示不存在上一页（此页是第一页）。若取值为 "index" 表示上一页被你判定为目录页。若取值为 "page" 表明被你判定为正文页。

## 一级区块类型

区块有九种，我在下面分别介绍。

{% include "common/orc_blocks.jinja" %}

## 区块标签的子节点

区块内部的子标签都是 <line>，表示区块中根据 OCR 识别出的文字，一行的结构从上到下排列。它的 confidence 属性表示 OCR 给出的可信度（0～1），若大于 0.95 可认为文字是准确的。越低，混入的错字（增字、缺字）会越多。

# 你格式化的内容

{% include "common/xml_format.jinja" %}

首先，你要判断用户提交的这一页内容是书本中的目录页还是正文页。若是目录页，你的输出内容用 <index> 包裹。若是正文页，用<page> 包裹。

## <index> 目录页

一本书靠前的部分往往有一页或多页是目录。如果你发现用户提交的这页内容就是目录的OCR扫描内容，则输出一个空的 <index/> 即可，然后直接结束。
一般而言，目录页具有如下特征：
- 一般文字破碎，不成完整的句子。而正文页的文字读起来流畅，往往整段整段有完整内容。
- 读起来像标题，而且随后跟着数字。数字往往表示页码。
- 出现大量有序的“第一章”、“第十三节”或“VII”之类的内容。
- 标题后可能接上“•••”或“……”之类的符号，这是OCR将目录中的填充点错误地识别成如此符号。

这些特征越明显，是目录页的可能性越大。但这些特征不足以让你下结论，你需要更确切的证据。具体可遵守如下规则下结论：
- 明确读到了“目录”两个字（注意，由于OCR识别问题，这两个字可能拆开在相邻的两个区块中），且具有之前所述的特征，则一定是目录页。
- 如果明确确定上一页是目录页（即 <page  previous-page="index">），且本页也具有之前所述特征，则本页目录页，本书是有多页目录。
- 若上一页存在，但不是目录页，本页找不到“目录”二字，即便具有之前所述特征，也不能判定为目录页。

综上所述，例如，用户如果提供的片段类似如下结构，可以明确就是目录页：
```XML
<page>
  <headline>
    <line confidence="1.00">⽬</line>
    <line confidence="1.00">錄</line>
  </headline>
  <text indent="false" touch-end="true">
    <line confidence="1.00">中國科學史料叢書總…</line>
    <line confidence="0.99">i-iii</line>
    <line confidence="1.00">編者的話…••</line>
    <line confidence="1.00">1-3</line>
    <line confidence="1.00">1.中國古代⾦屬原質之化化學••</line>
    <line confidence="0.92">王璡•</line>
    <line confidence="0.83">1</line>
    <line confidence="1.00">2. 中國古代⾦屬化合物之化學</line>
    <line confidence="1.00">王璡•</line>
    <line confidence="0.96">13</line>
    <line confidence="0.99">3. 中國⽤鋅的起源••••••••</line>
    <line confidence="1.00">章鴻釗•••</line>
    <line confidence="1.00">21</line>
    <line confidence="1.00">4.再述中國⽤鋅的起源…••</line>
    <line confidence="1.00">章鴻釗．</line>
    <line confidence="0.98">••29</line>
  </text>
</page>
```

你要直接返回如下内容：
```XML
<index/>
```

## <page> 正文页

判断标注为，如果不是目录页，那就判定为正文页。

你要阅读 <line> 中的文本，根据语义，对标签进行修正和调整（传统算法无法读出语义）。在此期间，你必须一字不改地保留文本中的内容，这意味着即便是 OCR 错误也必须原封不动地保留下来。但 <line> 本身的属性 confidence 在你写出的 XML 中要被删除。

### 调整、删除 abandon 相关的区块

传统算法可能错误地把一些页眉页脚或页码等需要 abandon 的内容错误的标注为 text 等。如果你有充足的证据表明它无法插入正文，请将它们删除。注意，你不可以将已被判断为 abandon 的区块改成其他类型。

对于已经被标记为 abandon 类型的区块，也要全部删除。在阅读正文时，将它们当作不存在的部分（它们一般来自页眉页脚）。

### 将碎片化的多个区块融合成一个

例如，算法可能提供这么一段片段：
```XML
<page>
  <headline>
    <line confidence="0.99">参考文献</line>
  </headline>
  <headline>
    <line confidence="0.98">幼年与历史</line>
  </headline>
  <text indent="false" touch-end="false">
    <line confidence="0.98">经验的毁灭【意］吉奥乔·阿甘本</line>
  </text>
  <headline>
    <line confidence="0.97">虚拟的寓言★</line>
  </headline>
  <text indent="false" touch-end="false">
    <line confidence="0.96">［加］布来恩·马苏米</line>
  </text>
  <headline>
    <line confidence="0.97">类人猿、赛博格和女人*</line>
  </headline>
  <text indent="false" touch-end="false">
    <line confidence="0.96">自然的重塑［美］唐娜·哈拉维</line>
  </text>
</page>
```

一些正文中加粗的字体和周期性出现的格式会被算法错误地判定为多个区块。用语义来思考，结合逻辑，将这些错误修正。你应该把它们融合成一个区块：
```XML
<page>
  <headline>
    <line confidence="0.99">参考文献</line>
  </headline>
  <text start-incision="impossible" end-incision="impossible">
    <line>幼年与历史</line>
    <line>经验的毁灭【意］吉奥乔·阿甘本</line>
    <line>虚拟的寓言★</line>
    <line>［加］布来恩·马苏米</line>
    <line>类人猿、赛博格和女人*</line>
    <line>自然的重塑［美］唐娜·哈拉维</line>
  </text>
</page>
```

### 标记 <text> 前后是否被截断

一个自然段可能因为分页或左右分栏而被截断，从而拆分到多个 text 区块中。举个例子。如下自然段：

> 西格蒙德·弗洛伊德（德语：Sigmund Freud，出生名：Sigismund Schlomo Freud；1856年5月6日—1939年9月23日），奥地利心理学家、精神分析学创始人、哲学家、性学家，二十世纪最有影响力的思想家之一。

在书本排版中，它们可能因为分页或分栏被拆分到如下两个区块中：

> 西格蒙德·弗洛伊德（德语：Sigmund Freud，出生名：Sigismund Schlomo Freud；1856年5月6日—1939年9月23日），奥地

> 利心理学家、精神分析学创始人、哲学家、性学家，二十世纪最有影响力的思想家之一。

如上第一个区块，开始处无切口，结尾处有切口。第二个区块，开始处有切口，结尾处无切口。

你需要阅读文本的语义，判断每一个 text 区块的最开始和最后是否是被截断的切口面，若不是切口面，则说明是自然段的真实开端或结束。

传统算法会给出属性来描述它看到的原始扫描件情况。逻辑上，若区块是中文，当 indent="true" 时，说明本区块开始不可能是截断的切口，当 indent="false" 时，说明一定是切口。当然若是英语，如上判断不一定成立。此外，不论何种语言，若 touch-end="false"，说明本区块结尾处不可能是截断的切口，但若 touch-end="true"，则无法得出推论（只有在结尾语义明显截断时才能推测可能是截断的切口）。当然，以上逻辑仅在传统算法正确的前提下，若算法误判，则全部很难说了。

你可以参考 indent 和 touch-end 属性，但在你的报告中，应该将这两个属性删除，以替换 start-incision 和 end-incision 属性。它们的属性取 "must-be"、"most-likely"、"impossible"、"uncertain" 来标明你的判断。判断要遵守一下规则：
1. 有关 indent 和 touch-end 的状态，一般而言，你要相信是准确的（即算法能正确识别扫描件），因此必须遵守之前我提及的相关逻辑。
2. 基于上一条，你的推测的结论不得违反相关逻辑。
3. must-be，impossible 表示 100% 准确无误，除非传统算法给出的结论在逻辑推导下能得出此结论（唯一而无其他可能），且你做出的语义分析也没有任何疑点，你才能得出此结论。
4. 但如果以你的语义的理解，发现有十分明显的错误，那不排除算法给出的 indent 和 touch-end 是错误的可能性。此时你应该勇敢地推翻其中部分属性状态的值，不信任其中的一部分，然后基于剩下的信任的属性的限定下，给出符合逻辑的新结论。
5. 上一条不得无节制使用，除非你有 100% 的把握。一般而言，传统算法给出的结论应该当作是可信的。

举个例子，<text> 标签会被你改写成如下形式（这只是片段，不能作为你输出的全文。此处仅参考格式）：
```XML
<text start-incision="uncertain" end-incision="must-be">
  <line>在乡下，没有任何程度上的奴隶阶层。草纸文献记载</line>
  <line>表明，各种的个样摩擦和敌对都出现在乡村，伴随着的是种</line>
</text>
```

### 将部分区块重组进 <citation> 节点

书页的最下部分，有时会用排版给引用文献区。你需要识别找到这些区块，并将它们修改为 <citation> 区块标签。引用文献有如下特征：
- 引用文献往往以数字开头（如 1. <1> (1) ① 之类的），有的用 * 或 # 来开头。
- 引用文献总是集中分布在书页下部，不会和其他内容混合。但要注意，最下面的内容可能是页脚，不要与引用文献混淆。
- 从正文往下读，读到引用文献后，正文可能会戛然而止。因此正文语义无法顺接引用文献。
- 传统算法往往会将引用文献标记为 abandon 区块。在引用文献较少时，可信任这一条。但当引用文献较多时，或混合图表时，传统算法可能会将其错误地标记为其他类型。
- 一页最多只有一个引用文献区，若你发现两个，显然搞错了。

所有被你重组进 <citation> 的区块应该保留原来的顺序，但若是 abandon 区块，你应该将其改为 text 类型，因为放进 citation 就意味着它不再被忽略了。此外，对于 text 的 start-incision 和 end-incision 属性，也要重新考虑。对于出版物而言，与正文不同，对读者而言，引用是不会跨页的，编辑在排版时也会考虑这一点。因此，除非编辑直接显式用文字说明（如直接写上”接上页”或“见下页”），否则认为 text 没有被截断。

从书籍排版的角度看，引用文献区只会在正文最下方，再往后便是页脚和页码等文字。因此，你的 citation 标签之后不应该出现其他区块（如 text、headline 等），若出现，你要思考是否这也是引用文献的一部分，此时你应该将它纳入 citation 标签最后。换而言之，你返回的 page 标签中，在 citation 标签之后禁止出现其他元素。

举个例子，如果用户提交的内容如下：
```XML
<page>
  <abandon>
    <line confidence="0.95">⼩说翻译与⽂化建构</line>
  </abandon>
  <text indent="true" touch-end="false">
    <line confidence="0.99">汉语“⼩说”词最早出现于《庄⼦•外物篇》：“饰⼩说以⼲县令，其于⼤达亦远矣。”①⼩说意肤浅、琐碎的⾔论。东</line>
    <line confidence="0.97">汉班固 《汉书•艺⽂志》视⼩说为“街谈巷语，道听涂说”，“闾⾥⼩知者之 所及”，但“或⼀⾔可采”②。</line>
  </text>
  <abandon>
    <line confidence="0.97">（接上页）则更可能实事求是地描述那些令分析家震惊和担忧的处境。</line>
  </abandon>
  <abandon>
    <line confidence="0.95">①曹础基：《庄⼦浅注》，410页，北京，中华书局，1982</line>
  </abandon>
  <text indent="false" touch-end="false">
    <line confidence="0.95">②班固撰、（唐）颜师古注：《汉书•艺⽂志》，291页，郑州，中州古籍出版社，1990。</line>
  </text>
  <abandon>
    <line confidence="0.98">128</line>
  </abandon>
</page>
```

你应该返回如下内容：
```XML
<page>
  <text start-incision="impossible" end-incision="impossible">
    <line>汉语“⼩说”词最早出现于《庄⼦•外物篇》：“饰⼩说以⼲县令，其于⼤达亦远矣。”①⼩说意肤浅、琐碎的⾔论。东</line>
    <line>汉班固 《汉书•艺⽂志》视⼩说为“街谈巷语，道听涂说”，“闾⾥⼩知者之 所及”，但“或⼀⾔可采”②。</line>
  </text>
  <citation>
    <text start-incision="must-be" end-incision="impossible">
      <line>（接上页）则更可能实事求是地描述那些令分析家震惊和担忧的处境。</line>
    </text>
    <text start-incision="impossible" end-incision="impossible">
      <line>①曹础基：《庄⼦浅注》，410页，北京，中华书局，1982</line>
    </text>
    <text start-incision="impossible" end-incision="impossible">
      <line>②班固撰、（唐）颜师古注：《汉书•艺⽂志》，291页，郑州，中州古籍出版社，1990。</line>
    </text>
  </citation>
</page>
```